@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1201 S. Benbow Rd.<br />
    Greensboro, NC  27406<br />
    <abbr title="Phone">P:</abbr>
    336.681.5921
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jcheek.producer@gmail.com">JCheek.Producer@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jcheek.marketing@gmail.com">JCheek.Marketing@gmail.com</a>
</address>